@model BookCave.Models.ViewModels.BookDetailsViewModel
<link rel="stylesheet" href="~/css/site.css" type="text/css">

<ul class="breadcrumb">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li><a asp-area="" asp-controller="Book" asp-action="Shop">Books</a></li>
  <li>Edit book</li>
</ul>



  <div >
    <h1 class="center">Edit</h1>

      <form method="POST">

      <div class="allInputLabels">
        <div class="form-horizontal">
          <div class="form-group">
            <label asp-for="BookId" >Book Id:</label>
            <input type="text" asp-for="BookId" class="form-control ">
            <span asp-validation-for="BookId" class="badge"></span>
          </div>

        <div class="form-horizontal">
          <div class="form-group">
            <label asp-for="Title" >Title:</label>
            <input type="text" asp-for="Title" class="form-control ">
            <span asp-validation-for="Title" class="badge"></span>
          </div>

          <div class="form-group">
            <label asp-for="GenreId" >Genre ID:</label>
            <input type="text" asp-for="GenreId" class="form-control ">
            <span asp-validation-for="GenreId" class="badge"></span>
          </div>

          <div class="form-group">
            <label asp-for="Price" >Price:</label>
            <input type="text" asp-for="Price" class="form-control ">
            <span asp-validation-for="Price" class="badge"></span>
          </div>

          <div class="form-group">
            <label asp-for="Rating" >Rating:</label>
            <input type="text" asp-for="Rating" class="form-control ">
            <span asp-validation-for="Rating" class="badge"></span>
          </div>
          
          <div class="form-group">
            <label asp-for="Description" >Description:</label>
            <input type="text" asp-for="Description" class="form-control ">
            <span asp-validation-for="Description" class="badge"></span>
          </div>

          <div class="form-group">
            <label asp-for="ReleaseYear" >Release year:</label>
            <input type="text" asp-for="ReleaseYear" class="form-control ">
            <span asp-validation-for="ReleaseYear" class="badge"></span>
          </div>

          <div class="form-group">
            <label asp-for="AuthorId" >Author ID:</label>
            <input type="text" asp-for="AuthorId" class="form-control ">
            <span asp-validation-for="AuthorId" class="badge"></span>
          </div>

          <div class="form-group">
            <label asp-for="Image" >Image link:</label>
            <input type="text" asp-for="Image" class="form-control ">
            <span asp-validation-for="Image" class="badge"></span>
          </div>

          <div id="edit-div" class="form-group ">
            <input type="submit" value="Edit book" class="btn btn-default">
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>