@model BookCave.Models.ApplicationUser
<link rel="stylesheet" href="~/css/site.css">
<style>
    div{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    h3 {
      text-align: center;
      font-size: 26px;
      background-color:whitesmoke;
    }

</style>
<body>
    <div class="container-fluid" style="width:50%">
        <h1>My Profile</h1> <br/>
            <img src="~/images/default-user.png" alt="Myprofile Image">
            <h3>@Model.UserName</h3>
            <h3>@Model.Email</h3>
                <form asp-action="OrderHistory" asp-controller="Account" method="POST">
                  <br/>
                  <button type="submit" class="btn btn-default btn-lg">My order history</button>
                </form>
            <br/>
            <br/>
                <button type="submit" class="btn btn-default btn-md">Edit Profile</button>
    </div>
</body>