<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
</head>
<body>
    <div class="orderh-div">
      <h1 class="orderh-h1">Order history</h1>
        <table class="table table-hover">
          <tr>
            <th class="orderh-th">Items</th>
            <th class="orderh-th"></th> 
          </tr>
          <tr>
            <td class="orderh-td">Order no 35692</td>
            <td class="orderh-td"><button class="btn btn-default">View order</button>
          </tr>
        </table>
  </div>
</body>
</html>