@model BookCave.Models.ViewModels.RegisterViewModel
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="~/css/site.css">
      <title>Document</title>
  </head>
  <body>
    <div class="container">
    <div id="register-div" class="size col lg 4 col md 4 col sm 6 col xs 12" >
      <h1>Register</h1>
        <form asp-action="Register" asp-controller="Account" class="form-horizontal">
          <div class="form-group">
            <input type="email" asp-for="Email" class="form-control" placeholder="Enter email..." />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter first name..." />
            <span asp-validation-for="FirstName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="text" asp-for="LastName" class="form-control" placeholder="Enter last name..." />
            <span asp-validation-for="LastName" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="password" asp-for="Password" class="form-control" placeholder="Enter password..." />
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="radio" name="Gender" value="male" /> Male
            <input type="radio" name="Gender" value="female" /> Female
            <input type="radio" name="Gender" value="other" /> Other
          </div>
          <div class="form-group">
            <label for ="DateofBirth">Date of Birth</label>
            <input type="date" id="DateofBirth" name="DateofBirth" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Register</button>
          </div>
        </form>
      </div>
    </div>
</body>
</html>
