<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

 
      <label value="Country">Land: </label>
      <select>
    <option value="Afghanistan">USA</option>
    <option value="Albania">UK</option>
    <option value="Algeria">Iceland</option>
    <option value="American Samoa">Australia</option>
    <option value="Andorra">Sweeden</option>
    <option value="Angola">Denmark</option>
    <option value="Anguilla">Finland</option>
    <option value="Antartica">Norway</option>
    <option value="Antigua and Barbuda">Canada</option>
    <option value="Argentina">Franch</option>
    <option value="Armenia">Spain</option>
    <option value="Aruba">Italy</option>
</select>
  

</body>
</html>