<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
</head>
<body>
  <h1 id="wishlist-h1">My wishlist</h1>
    <div id="wishlist-div" class="container-fluid">
      <table id="wishlist-table" class="table table-hover">
         <tr>
          <th id="wishlist-th" >Item</th>
          <th></th> 
          </tr>
           @foreach(var wishlistItem in Model)
            {
            <tr class="active">
              <td class="wishlist-td">@wishlistItem.Item</a></td>
              <td class="wishlist-td"><button id="wishlist-button" class="btn btn-default">Remove</button><button class="btn btn-default">Add To basket</button></td> 
            </tr>
            }
      </table>
    </div>
</body>
</html>