@model List<BookCave.Models.ViewModels.AuthorListViewModel>


<style>
  .font {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  }
  table{
    text-align: center; 
    font-size: 26px; 
    border-collapse: collapse;
  }
  th{
    text-align: center; 
  }

  
</style>

<ul class="breadcrumb">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li>Author</li>
</ul>

<div class="font">
<h1 style="text-align: center;">Authors</h1>
<div style="text-align: center;">
<button class="btn btn-default">Filter by Name</button>
</div>
  <table class="table table-hover" style=" width:50%; margin-left: auto; margin-right: auto">
  <tr class="active">
    <th>Name</th>
    <th>Date Of Birth</th>
  </tr>
  @foreach(var author in Model)
  {
    <tr>
      <td><a asp-controller ="Author" asp-action ="Details" asp-route-id="@author.AuthorId">@author.Name</a></td>
      <td>@author.DateOfBirth</td>
    </tr>
  
  }
</table>
</div>

