@model List<BookCave.Models.ViewModels.AuthorListViewModel>
<head>
  <link rel="stylesheet" href="./bootstrap.css">
</head>

  <div>
    @foreach(var author in Model)
    {
      <p>@author.Name</p>
      <p>@author.DateOfBirth</p>
      <p>@author.BookList</p>
    }
  </div>