@model List<BookCave.Models.ViewModels.AuthorListViewModel>

<link rel="stylesheet" href="~/css/site.css" type="text/css">


<ul class="breadcrumb">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li>Author</li>
</ul>


<div class="center">
<h1>Authors</h1>
<button class="btn btn-default">Filter by Name</button>
</div>

<div class="AllTables">
  <table class="table table-hover">
  <tr class="active">
    <td>Name</td>
    <td>Date Of Birth</td>
  </tr>
  @foreach(var author in Model)
  {
    <tr class="active">
      <td><a asp-controller ="Author" asp-action ="Details" asp-route-id="@author.AuthorId">@author.Name</a></td>
      <td>@author.DateOfBirth</td>
    </tr>
  
  }
</table>

</div>
</div>


