@model List<BookCave.Models.ViewModels.OrderListViewModel>

  <link rel="stylesheet" href="~/css/site.css" type="text/css">


<h2 class="center">Your latest orders</h2></br>


<div class="AllTables">
  <table class="table table-hover">


  <tr class="active">
    <th>Price</th>
    <th>Count</th>
    <th>OrderId</th>
    <th>BookId</th>
  </tr>
@foreach(var order in Model)
  {
    <tr class="active">
      <td>@order.BookPrice</td>
      <td>@order.Count</td>
      <td>@order.OrderId</td>
      <td>@order.BookId</td>
    </tr>
  
  }
  </table>
  </dix>
  </div>