<div class="row no-gutter">

    <div class="col-xs-6 col-md-4">
      <a href="#" class="portfolio-box ">
        <img src="~/images/Portfolio/1.jpeg" alt="Book" class="img-responsive">
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="portfolio-box ">
        <img src="~/images/Portfolio/2.jpg" alt="Book" class="img-responsive">
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="portfolio-box ">
        <img src="~/images/Portfolio/3.jpg" alt="Book" class="img-responsive">
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="portfolio-box ">
        <img src="~/images/Portfolio/4.jpg" alt="Book" class="img-responsive">
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="portfolio-box ">
        <img src="~/images/Portfolio/5.jpg" alt="Book" class="img-responsive">
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="portfolio-box ">
        <img src="~/images/Portfolio/6.jpg" alt="Book" class="img-responsive">
      </a>
    </div>
    
  
</div>