    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>

        <ul class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    
    <li>About us</li>
    </ul>
        <h1>About us</h1>
        <p>Book Cave
    Welcome to Book Cave, a website made by five students studying at the University of Reykjavík. We‘re proud to offer you a wide range of various titles where everyone can find something they like whether it is learning how to cook or just cozying up by the fire with a romantic novel. All deliveries are free of charge and we deliver all over the world. 
    We offer hardcover books, audiobooks and e-books to satisfy the needs of our customers
    </p>
    </body>
    </html>
