@{
    ViewData["Title"] = "Home Page";
}

@model List<BookCave.Models.ViewModels.BookListViewModel>

    <div>
        @foreach (var book in Model)
        {
            <div>
                <p>@book.Name</p>
                <p>@book.ReleaseYear</p>
                <p>@book.Author</p> 
            </div>
        }
    </div>