<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Terms And Conditions</h1>
    <h3>Your details</h3>
<p>1.	When you register with The Book Depository website, you will be required to choose a contact email address and password. You are responsible for all sessions and transactions made using these details. You should keep your password safe and not disclose it to anyone. You should change it immediately if you feel it has been compromised.</br>
2.	If any of your details change, such as your credit card billing address, you must inform The Book Depository as soon as possible. You may update your details by signing into your account on The Book Depository website, and updating your online wallet.</br></p>
<h3>The contract between us</h3>
1.	Any contract for purchases made through The Book Depository website will be with The Book Depository Limited (company registration number 5124926) whose registered office is situated at 1 Principal Place, Worship Street, London, EC2A 2FA . Our VAT registration numbers are listed in the Value Added Tax (VAT) section below.
2.	The Book Depository must receive payment of the whole of the price for the goods that you order before your order can be processed. Payment of the advertised price will be taken at the point of order. Charging your payment method does not mean that an order has been accepted by The Book Depository. Once payment has been processed, The Book Depository will confirm that your order has been received by sending an email to you at the email address you provide. The email will include your name, the order number and the total price charged. The Book Depository acceptance of your order (which will happen when The Book Depository dispatches your order) brings into existence a legally binding contract between us on these terms. Any term sought to be imposed by you in your order will not form part of the contract.
3.	The Book Depository will not process any orders in the case of errors or inaccuracies regarding the goods (including the advertised price of the goods) appearing on our website. If an error or inaccuracy is discovered with regards to the advertised price of the goods that you have ordered, we will contact you as soon as possible by email and reserve the right to cancel your order.
4.	This Site is for personal and non-commercial use. You may not use the site to place orders which will be, or are being, sold on to a third party. If you are suspected of using the site in this way then we reserve the right to withdraw from any relevant contract(s) and cancel your order(s).
<h3>Your right of cancellation</h3>
<p>1.	If you are an individual and are not buying goods on behalf of a business, you can cancel your order without giving any reason within 14 days from the day on which you receive your items (or the last item if they were shipped separately). You must notify us of your cancellation. You can notify us through our online contact form or by completing this online cancellation form.
2.	You will be responsible for the cost of returning the item to us, unless we delivered it to you in error or it is faulty. You must send the item back to us no later than 14 days from the day on which you notified us of your cancellation, by following the instructions we send you.</br>
3.	We will refund the price of the item no later than 14 days from the day on which we receive the item back from you or, if earlier, the day on which you provide evidence reasonably acceptable to us that you have sent the item back. We'll refund the same means of payment as you used to make your purchase.</p></br>
<h3>Availability of goods you order</h3>
<p>If The Book Depository has insufficient stock to deliver the goods ordered by you, or cannot obtain the stock from our suppliers, we will notify you as soon as possible and any sum debited by The Book Depository from your payment method will be credited to your account and The Book Depository will notify you by email at the address given by you in your order form. The refund will be made as soon as possible and in any event within 30 days of your order. The Book Depository will not be obliged to offer any additional compensation or to supply the goods in this situation. Please note: we endeavour to bring our customers the best value we can by running special offers, but please remember stocks are limited at the special offer price, and subject to availability. We update our website as quickly as we can to minimise disappointment. The process of updating the website when goods have sold out at promotional price may take a few hours. Please note that the price the goods are offered for are as displayed in your online basket, but that is subject to the rest of these terms.</p>
<h3>Multi-buy offers</h3>
<p>Promotions apply to listed titles only, which are subject to change and availability. If you choose to purchase a product from a multi-buy offer, but do not purchase enough products to qualify for the special discount, the product will be charged at the normal price. Please note that on 3 for 2 promotions (and other multi-buy offers), the lowest priced title will always be the 'free' item.</p>
<h3>Delivery of goods to you</h3>
The Book Depository will post, or arrange a courier on your behalf, for the goods ordered by you to the person and address you give The Book Depository at the time you make your order. Delivery will be made as soon as possible after your order is accepted and in any event within 30 days of dispatch of the order. All delivery times quoted on the web site are estimates only, based on availability, normal processing and delivery companies. You will become the owner of the goods you have ordered when the goods are dispatched to you from our distribution centre.</p>
<h3>Value Added Tax (VAT)</h3>
All prices displayed on The Book Depository website are inclusive of your local Tax (or applicable local sales tax, VAT and similar taxes). Your final price may be different depending upon the tax that applies to your delivery location. Where The Book Depository apply a different tax rate based on the destination of the goods, this will be declared in the checkout.

When ordering goods from The Book Depository for delivery overseas, you may be subject to import duties and taxes that are levied once the package reaches your country. Any additional charges for customs clearance must be borne by you; we have no control over these charges and cannot predict what they may be. 

Customs policies vary widely from country to country, so you should contact your local customs office for further information. Additionally, please note that when ordering from The Book Depository, you are considered the importer of record and must comply with all laws and regulations of the country in which you are receiving the goods. 
</p>
</body>
</html>