<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Top 10 Books</h2>
        <table class="table table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Realease Year</th>
  </tr>
  
    <tr>
      <th>guðrún</th>>
      <th>heiða</th>
      <th>Bjarnadottir</th>
    </tr>
  }
</table>
</body>
</html>