<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="float: left; margin-left:20%;">
  
    <h1>Title</h1>
    <h3>ReleaseYear</h3>
    <h3>Price</h3>
    <h3>Description</h3>
    <h3>Rating</h3>
    <button class="btn btn-default" type="button">Add to Wishlist</button>
    <button class="btn btn-default" type="button">Add to bakset</button>
</div>

<div style="float: right; margin-right:20% ">

    <form action="details.cshtml" method="post">
    <label for="comment"> Your comment about this book:</label></br>
    <textarea id="comment" name="user_comment"></textarea></br>
    <button class="btn btn-default" type="submit">Submit Comment</button>
    </form>


        <h2>Rating</h2>

<select>
    <option value ="1">1</option>
    <option value ="2">2</option>
    <option value ="3">3</option>
    <option value ="4">4</option>
    <option value ="5">5</option>
    <option value ="6">6</option>
    <option value ="7">7</option>
    <option value ="8">8</option>
    <option value ="9">9</option>
    <option value ="10">10</option>
</select>
    </div>

    
</body>
</html>


