@model BookCave.Models.ViewModels.BookTop10ViewModel>

<div style="width: 50%; margin-left:auto; margin-right:auto;">
    <h2>Top 10 Books</h2>
 <table class="table table-hover">
  
  <tr>
      <th>Title</th>
      <th>Rating</th>
    </tr>
     @foreach (var book in @Model)
  {
  <tr>
      <th>@book.Title</th>
      <th>@book.Rating</th>
    </tr>
  }



</table>

</div>