@model int
<link rel="stylesheet" href="~/css/site.css" type="text/css">

@{
    ViewBag.Title = "Checkout Complete";
}
<div class="center" >
<h1>Checkout is complete</h1></br>

<h3>Thank You for your order! Your order number is: @Model</h3>
<p>We look forward to serving you next time</p>
<p>
    What about browsing for some more books in our 
    @Html.ActionLink("store",
"Index", "Home")
</p>
</div>