@model BookCave.Models.ViewModels.GenreDetailsViewModel
<link rel="stylesheet" href="~/css/site.css">

    <ul class="breadcrumb">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li><a asp-area="" asp-controller="Genre" asp-action="Index">Genre</a></li>
  <li>Genre Details</li>
</ul>

    <div id="details-div">
        <h2>Books in this genre</h2>
<table class="table table-hover">
  
  <tr>
      <th>Title</th>
    </tr>
     @for (int i = 0; i < @Model.Books.Count; i ++)
  {
  <tr>
      <th><a asp-controller ="Book" asp-action ="Details" asp-route-id="@Model.Books[i].Title">@Html.DisplayFor(m => Model.Books[i].Title)</a></th>
    </tr>
  }



</table>
