@model List<BookCave.Models.ViewModels.GenreListViewModel>

<link rel="stylesheet" href="~/css/site.css" type="text/css">

<ul class="breadcrumb">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li>Genre</li>
</ul>

<div class ="center">
<h1 class="center">Genre</h1></br>

<div class="AllTables">
  <table class="table table-hover">


  
  @foreach(var genre in Model)
  {
    <tr class="active">
      <td><a asp-controller ="Genre" asp-action ="Details" asp-route-id="@genre.GenreId">@genre.Title</a></td>
    </tr>
  
  }
</table>
</div>
</div>