@model List<BookCave.Models.ViewModels.GenreListViewModel>

<style>
    .container{
        border: dimgray;
    }

    table{
        text-align: center;
        font-size: 26px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h1 {
        text-align: center;
        font-style:oblique;
        font-size: 56px;
        color: rgb(139, 137, 131);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    div{
        margin-left: auto;
        margin-right: auto;
    }
</style>
<h1>Genre</h1>
<div style="width:50%">
    <table class = "table  table-hover">
        <tr class="active">
            <td>Drama</td>
        </tr>
        <tr class="active">
            <td>Action</td>
        </tr>
        <tr class="active">
            <td>Adventure</td>
        </tr>
        <tr class="active">
            <td>Study Books</td>
        </tr>
        <tr class="active">
            <td>Horror</td>
        </tr>
        <tr class="active">
            <td>Romance</td>
        </tr>
        <tr class="active">
            <td>Mistery</td>
        </tr>
        <tr class="active">
            <td>Science fiction</td>
        </tr>
        <tr class="active">
            <td>Guide</td>
        </tr>
        <tr class="active">
            <td>Fiction</td>
        </tr>

    </table>
</div>