@model List<BookCave.Models.ViewModels.GenreListViewModel>

<div>
    <table class = "table table-striped table-hover">
        <tr>
            <th>Genre</th>
        </tr>
        <tr>
            <td>Drama</td>
        </tr>
        <tr>
            <td>Action</td>
        </tr>
        <tr>
            <td>Adventure</td>
        </tr>

    </table>
</div>