body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f8f2ed;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */

#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*.loginpositioning 
{
margin-left: 400px;
margin-right: 400px;
margin-top: 50px;
margin-bottom:50px;

}*/

.list-group {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #F1F1F1;
    width: 50%
}

#top10 {
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    width: 250px;
    height: 400px;
    border-style: solid;
    border-color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}

#top10>img {
    width: auto;
    height: 250px;
}

.center {
    text-align: center;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h2Heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#bookImg {
    width: 150px;
    height: 200px;
    margin-top: 10px;
}

#borderStyle {
    width: 220px;
    height: 450px;
    border-style: solid;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-color: white;
}

#borderStyleTwo {
    width: 220px;
    height: 450px;
    border-style: solid;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-color: white;
}

#borderStyleThree {
    width: 250px;
    height: 450px;
    border-style: solid;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-color: white;
}

#top5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.detailsImg {
    width: 300px;
    height: auto;
}

.AllTables {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: red;
}

.allInputLabels {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-weight: 600;
}

.goodButton {
    background-color: green;
    color: white;
    border-color: white;
}

.indexImg {
    width: 100px;
    height: auto;
    text-align: center;
}

.displayBooks {
    padding-left: 8%;
    padding-right: auto;
}

#logo {
    width: 75px;
}

.allDisplay {
    height: 400px;
    width: 250px;
    border-style: solid;
    border-color: white;
    text-align: center;
}

.fa {
    font-size: 30px;
}

#bottomofindex {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.redButton {
    background-color: red;
}

#shoppinglist {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#tritem {
    background-color: #F5F5F5
}

.bold {
    font-weight: 900;
}

#grad {
    color: yellow;
}

#logoutLogo {
    color: red;
    font-size: 25px;
}

#navbarcolor {
    background-color: #f1f1f1;
}

#search {
    text-align: right;
    margin-right: 20%;
}

#icons {
    text-align: right;
    padding-right: 10%;
}

#icon1 {
    font-size: 20px;
    color: #737373;
    padding-right: 20px;
    padding-bottom: 30px;
}

#icon2 {
    font-size: 20px;
    color: #737373;
    padding-bottom: 30px;
}

#render {
    margin-top: 100px;
}

#footerLeft {
    text-align: left;
}

#footerRight {
    float: right;
}

#oneTable {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: red;
}

/*tr:nth-child(4n) {
    border-bottom-style: solid;
}*/